doctype html
html
  head
    title= title
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9ndCyUa6mAOWvCgqVq4l7i2gUekR5l8F7xYsnG9X+eIkVDFQxP5Erf6/c4ULbUaJ", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js", integrity="sha384-oBqDVmMz4fnFO9gybBogGzFb4pFDqySV4T4vgZAFs74jCB4Oj5gzlPKcHEeH2Jy9", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js", integrity="sha384-QFVjh7mzSo9zj8CGSifCJXpZYm7xXBM7jzU9b5J6w04FrBcc76vdzSIZolA6sw4G", crossorigin="anonymous")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
